# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
 #Ignore object files
 *.[oa]
 
 #Ignore any project files
 .cproject
 .project
 .wrmakefile
 .wrproject
 
 #Ignore any output files
 PPC603gnu/
